@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="table-container">
    <h3>Hour Data</h3>
    <p>Data related to Hour will be displayed here.</p>
</div>
